{% extends 'classroom/base.html' %}

{% block title %}
{% endblock title %}

{% block body %}
<h1>New Student</h1>
<form action="{% url 'classroom:create' %}">
    <div>
        <label for="name">이름</label>
        <input id="name" name="name">
    </div>
    <div>
        <label for="age">나이</label>
        <input id="age" name="age" type="int">
    </div>
    <div>
        <label for="major">객관적 서열순위</label>
        <input id="major" name="major">
    </div>
    <div>
        <input type="submit" value="입력">
    </div>
</form>
{% endblock body %}